<!DOCTYPE html>
  {{> structures/head}}
  <body>
    {{> structures/header}}
    {{> @partial-block}}
    {{> structures/footer}}
    {{> structures/modal}}
    {{> structures/foot}}
  </body>
</html>
