<!DOCTYPE html>
  {{> structures/head}}
  <body>
    {{> structures/header}}
    <h1>{{> @partial-block}}</h1>
    {{> structures/footer}}
    {{> structures/modal}}
    {{> structures/foot}}
  </body>
</html>
