<!-- Modal -->
<div class="modal-backdrop"></div>
<div class="modal-container modal-effect">
  <div class="modal-content">
    <h2 class="modal-title">This is title</h2>
    <div class="modal-message">
      This is message
    </div>
    <button class="btn btn-primary close">Close</button>
  </div>
</div>
