{{#> layout}}
<div class="container">
  {{#if resume.basics}}
    {{> resume/basics title="Basics" data=resume.basics}}
  {{/if}}
  {{> resume/work title="Works" data=resume.work}}
  {{> resume/volunteer title="Volunteer" data=resume.volunteer}}
  {{> resume/education title="Education" data=resume.education}}
  {{> resume/award title="Award" data=resume.awards}}
  {{> resume/publications title="Publications" data=resume.publications}}
  {{> resume/skills title="Skills" data=resume.skills}}
  {{> resume/languages title="Languages" data=resume.languages}}
  {{> resume/interests title="Interests" data=resume.interests}}
  {{> resume/references title="References" data=resume.references}}
</div>
{{/layout}}
