{{#> layout}}
<div class="container">
  {{> resume/basics title="Basics" data=basics}}
  {{> resume/work title="Works" data=work}}
  {{> resume/volunteer title="Volunteer" data=volunteer}}
  {{> resume/education title="Education" data=education}}
  {{> resume/award title="Award" data=awards}}
  {{> resume/publications title="Publications" data=publications}}
  {{> resume/skills title="Skills" data=skills}}
  {{> resume/languages title="Languages" data=languages}}
  {{> resume/interests title="Interests" data=interests}}
  {{> resume/references title="References" data=references}}
</div>
{{/layout}}
