{{#> section}}
  {{#each data as |language|}}
    <div class="detail-item">
      <header class="header">
        <h3>{{language.name}}</h3>
      </header>
      <p class="subheader-1">{{language.level}}</p>
    </div>
  {{/each}}
{{/section}}
