{{#> section}}
  {{#each data as |reference|}}
    <div class="detail-item">
      <blockquote class="references">
        {{reference.reference}}
        <br>
        — <span class="referencer">{{reference.name}}</span>
      </blockquote>
    </div>
  {{/each}}
{{/section}}
